body {
  padding-top: 56px;
}

.social-icon {
  width: 30px;
  height: 30px; 
}

.dsug-logo {
  max-width: 450px;
  height: auto;
  display:block;
  align-content: center; 
}

.bgc {
  background-color: #343a40;
}